.form-register__item {
  padding: 0;
  width: 100%;
  height: 27px;
  box-sizing: border-box;
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.form-register__item:focus {
  outline: 0;
}
